<div ng-app="marketSearches">
<div ng-controller="mktSearchController">

<h1>
  Market Share
</h1>

<p>
    Define the type of market that you want to analyze. EG) All computer sales in Alberta, or all products in Quebec, etc.
</p>

<form>

    <div class="row" ng-repeat="param in params track by $index">
        <div class="col-md-4">
            <select ng-model="param.property" class="form-control">
                <option ng-repeat="option in options" value="{{option.value}}">
                    {{option.display}}
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <input class="form-control" ng-model="param.search_term">
        </div>
        <div class="col-md-4">
            <span class="btn btn-danger" ng-click="removeFilter()">
                Remove this filter
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <span class="btn btn-primary" ng-click="addFilter()">
                Add filter
            </span>
        </div>
        <div class="col-md-2">
            <span class="btn btn-success" ng-click="search()">
                Search
            </span>
        </div>

    </div>

</form>

<div class="table-wrapper">
    <table id="results-table">
        <tr>
            <th>Company</th>
            <th>Priority Level</th>
            <th>Product</th>
            <th>Category</th>
            <th>Province</th>
            <th>Country</th>
            <th>Sales</th>
            <th>Description</th>
        </tr>    
        <tr ng-repeat="row in results">
            <td>{{row.company}}</td>
            <td>{{row.priority}}</td>
            <td>{{row.product}}</td>
            <td>{{row.category}}</td>
            <td>{{row.province}}</td>
            <td>{{row.country}}</td>
            <td class="cell-number">${{ insertCommas(row.sales) }}</td>
            <td>{{row.description}}</td>
        </tr>
    </table>
</div>

<!-- Close ng-app and ng-controller -->
</div>
</div>