<div ng-app="marketSearches">
<div ng-controller="mktSearchController">

<h1>
  Market Share
</h1>

<p>
    Define the type of market that you want to analyze. EG) All computer sales in Alberta, or all products in Quebec, etc.
</p>

<form>

    <div class="row" ng-repeat"param in params">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>

</form>

<!-- Close ng-app and ng-controller -->
</div>
</div>