<div ng-app="locationLevelApp">
<div ng-controller="locationLevelController">

    <h1>Location Levels</h1>

    <div ng-repeat="(property, value) in levelsSegmented">
        <div class="clearfix">
            <strong>{{property}}:</strong>
        </div>
        <div ng-repeat="element in value" class="level">
        <!-- "value" is a JS array -->
            <span class="tag" drag-dir dir-att="handleDrop()">
                <div class="form-group">
                    <div class="input-group inline-block">
                        <input class="form-control inline-block" ng-model="element.name">
                        <span class="input-group-addon inline-block">
                            <i class="fa fa-pencil"></i>
                        </span>
                    </div>
                </div>
            </span>
            <span ng-if="$index + 1 < value.length">
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>
        <span class="btn btn-primary inline-block" ng-click="newLevel(property)">Add a new level</span>
        <div class="clearfix margin-20"></div>
    </div>

</div>
</div>