<div ng-app="locationLevelApp">
<div ng-controller="locationLevelController">
    <div id="saving" class="container">
    </div>

    <h1>Location Levels</h1>

    <div ng-repeat="(property, value) in levelsSegmented" class="thread">
        <div class="clearfix">
            <strong>{{property}}:</strong>
        </div>
        <div
            class="level" data-thread={{property}} data-index={{$index}}
            ng-repeat="element in value track by $index"
        >
        <!-- "value" is a JS array -->
            <span
                class="tag"
                drag-dir dir-drag-att="handleDrag()" dir-dragover-att="handleDragover()" dir-drop-att="handleDrop()"
            >
                <div class="form-group">
                    <div class="input-group inline-block">
                        <input class="form-control inline-block" ng-model="element.name" ng-change="updateName()">
                        <span class="input-group-addon inline-block" ng-click="deleteLevel(element, property)">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                </div>
            </span>
            <span ng-if="$index + 1 < value.length">
                <i class="fa fa-chevron-right"></i>
            </span>
        </div>
        <span class="btn btn-primary inline-block" ng-click="addLevel({propertyName:property, level:value.length})">Add a new level</span>
        <div class="clearfix margin-20"></div>
    </div>

</div>
</div>