<div ng-app="locationLevelApp">
<div ng-controller="locationLevelController">

    <h1>Location Levels</h1>

    <div ng-repeat="(property, value) in levelsSegmented">
        <strong>{{property}}:</strong>
        <div class="clearfix"></div>
        <span ng-repeat="element in value"><!-- "value" is a JS array -->
            <span class="tag">
                <div class="input-group">
                    <input class="form-control" ng-model="element.name">
                    <span class="input-group-addon">
                        <i class="fa fa-pencil"></i>
                    </span>
                </div>
                <!-- {{element.name}}  -->
            </span>
            <i class="fa fa-chevron-right" ng-if="$index + 1 < value.length"></i>
        </span>
        <span class="btn btn-primary inline-block">Add a new level</span>
        <div class="clearfix margin-20"></div>
    </div>

</div>
</div>