<p id="welcome-heading">
  <div id="welcome-to">
    Welcome to   
  </div>

  <div id="logo-welcome">
    <span class="glyphicon glyphicon-signal"></span>
    <span class="glyphicon glyphicon-qrcode"></span>
    <span class="glyphicon glyphicon-picture"></span>
    LANDSCAPE
  </div>
</p>