<h1>
  My Competitors
</h1>

<div class="canvas-container competitor-bar">
  <h2>Competitors by Revenue</h3>
  <canvas id="competitors-revenue"></canvas>
  <!-- height="400" width="700" class="col-md-9" -->
</div>

<div class="clear"></div>

<!-- RESULTS -->
<div id="results">
  <%= render partial: "results" %>
</div>