<h1>
  Search for Organizations
</h1>

<p>TIP - You can separate each search term with a comma.

<p>
<div id="form-search">
  <%= render "form" %>
</div>

<!-- Results section -->
<h2>Results</h2>

<div id="results">
  <%= render partial: "results" %>
</div>