<h1>
  Search for Organizations
</h1>

<div id="form-search">
  <%= render "form" %>
</div>

<!-- Results section -->
<h2>Results</h2>

<div id="boundaries">

  <!-- "LOADING" MODAL -->
  <div id="loading-shell">
    <div id="loading" class="container">
      <h1>Loading...</h1>
      <span class="glyphicon glyphicon-refresh"></span>
    </div>
  </div>

  <!-- RESULTS -->
  <div id="results">
    <%= render partial: "results" %>
  </div>

</div>