<%= simple_form_for "market_search", url: markets_path, html: { class: 'form-group' }, remote: true do |f| %>

  <!-- Nested fields -->
  <%= f.simple_fields_for "filters" do |filter| %>
    <%= render "filter_fields", f: filter %>
  <% end %>

  <!-- Button to add fields -->
  <div class="links">
    <%#= link_to_add_association "<span class='glyphicon glyphicon-filter'></span> Add another filter".html_safe, f, :market_filters, {id: "add-filter", class: "btn btn-primary"} %>
  </div>
  <div class="clear"></div>

  <!-- Search button -->
  <div class="wrapper-market-search">
    <%= button_to :controller => "market_searches", :action => "create" do %>
      <span class="glyphicon glyphicon-search"></span> Search
    <% end %>
  </div>

<% end %>