<h1>
  Market Share
</h1>

<p>Define the type of market that you want to analyze. EG) All computer sales in Alberta, or all products in Quebec, etc.

<p>&nbsp;

<div id="form-market-search">
  <%= render "form" %>
</div>

<!-- Results section -->  
<div id="results-market">
  <%= render partial: "results" %>
</div>

<style>

</style>