/* SIDE NAV BAR */
/****************/

#side-nav-modal {
  color: white;
  text-align: center;
  background: none;
  padding: 0px;
  height: 100%;
  position: fixed;
  z-index: 1;
  right: -15em;
  top: 0px;
}

#side-nav-bar {
  float: right;
  height: 100%;
  background: #124c20;
  overflow: scroll;
  width: 15em;
}

#side-nav-bar .wrapper-link {
  color: white;
  padding: 1em;
  background: #124c20;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
}

#side-nav-bar .wrapper-link:hover {
  background: #2E723E;
  text-decoration: none;
}

#side-nav-tab {
  background: #124c20;
  float: right;
  font-size: 2em;
  padding: 0.5em;
  cursor: pointer;
}

/* OTHER */
/*********/

.mobile-message {
  display: none;
}

/* MEDIA QUERIES */
/*****************/

@media all and (max-width: 750px) {
  #navOne div .left a {
    display: none;
  }
  .mobile-message {
    display: block;
  }
}

@media all and (min-width: 650px) {
  #side-nav-modal {
    display: none;
  }
}

@media all and (max-width: 650px), all and (orientation:portrait) {
  #navOne, #navOne div .left a {
    display: inline-block;
  }
  #navTwo, #navOne .right {
    display: none;
  }
  #greeting {
    display: block;
  }
  #side-nav-modal {
    display: block;
  }
  #logo-welcome {
    font-size: 2em;
  }
  #welcome-to {
    font-size: 1em;
  }
  #current-user {
    font-size: 1.5em;
    /*float: none;*/
  }
  .table-wrapper {
    width: 100%;
    overflow: scroll;
  }
}

@media all and (max-width: 410px) {
  .app-name {
    display: none;
  }
}