/* SIDE NAV BAR */
/****************/

#side-nav-modal {
  color: white;
  text-align: center;
  background: none;
  padding: 0px;
  height: 100%;
  position: fixed;
  z-index: 1;
  right: -15em;
  top: 0px;
}

#side-nav-bar {
  float: right;
  height: 100%;
  background: #124c20;
  overflow: scroll;
  width: 15em;
}

#side-nav-bar .wrapper-link {
  color: white;
  padding: 1em;
  background: #124c20;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
}

#side-nav-bar .wrapper-link:hover {
  background: #2E723E;
  text-decoration: none;
}

#side-nav-tab {
  background: #124c20;
  float: right;
  font-size: 2em;
  cursor: pointer;
  padding: 0.455em;
  border-bottom: 0.25em solid #437E49;
  border-radius: 0.25em 0 0 0.25em;  
}

#side-nav-tab .glyphicon {
}

#side-nav-icon-caption {
  font-size: 1em;
}

/* OTHER */
/*********/

.mobile-message {
  display: none;
}

/* MEDIA QUERIES */
/*****************/

@media all and (max-width: 750px) {
  #navOne div .left a {
    display: none;
  }
  .mobile-message {
    display: block;
    font-style: italic;
    font-size: 1.125em;
  }
}

@media all and (min-width: 650px) {
  #side-nav-modal {
    display: none;
  }
}

@media all and (max-width: 650px), all and (orientation:portrait) {

  /* NAV BARS */
  /************/

  #navOne, #navOne div .left a {
    display: inline-block;
  }

  #navTwo, #navOne .right {
    display: none;
  }

  #current-user {
    font-size: 1.5em;
    float: none;
  }

  #current-user div {
    display: block;
  }

  #current-user .glyphicon {
    padding-right: 0.125em;
  }

  #greeting {
    display: block;
    font-size: 0.75em;
    text-align: center;
  }

  /* Remove left-margin for glyphicons */
  #greeting .glyphicon, #nav-last .glyphicon:first-child {
    margin-left: 0em;
  }

  #nav-last {
    font-size: 0.75em;
    text-align: center;
  }

  #nav-last .glyphicon:nth-child(2), #nav-last .glyphicon:nth-child(3) {
    margin-left: 2em;
  }

  #side-nav-modal {
    display: block;
  }

  /* BODY */
  /********/
  #logo-welcome {
    font-size: 2em;
  }
  #welcome-to {
    font-size: 1em;
  }
  .table-wrapper {
    width: 100%;
    overflow: scroll;
  }
}

@media all and (max-width: 410px) {
  .app-name {
    display: none;
  }
}