<h1>Add a new organization</h1>

Please complete the required fields (marked with an asterisk: *) below.

<p>Market data and associations (suppliers, competitors, and clients) are optional, but plentiful and accurate information will help make your analyses informative!

<p>&nbsp;

<div class="clear"></div>

<%= render "form" %>
